<div class="container">
<img src="../assets/image/bca.png" alt="Logo" class="logo">
  <h2>Certificate Issuance</h2>
<h4><u>FOR INTERNAL USE ONLY:</u></h4>
    <h4>
       <ol>
      <li>Fill in the form below with the correct details of the student and click <b>submit</b></li>
      <li>A unique TX Hash  will be generated. Using the transaction ID, anyone can verify the authenticity of
        the certificate on the Ethereum blockchain.</li>
      </ol></h4>
  
  <form #studentForm = "ngForm" (ngSubmit)="onSubmit(studentForm.value)">
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" class="form-control" name="name" ngModel placeholder="Full Name">
    </div>

    <div class="form-group">
      <label>Course Name/Course ID</label>
      <input type="text" class="form-control" name="coursename" ngModel placeholder="Course Name/Course ID">
    </div>
    <div class="form-group">
      <label>NRIC/Passport No.</label>
      <input type="text" class="form-control" name="nric" ngModel placeholder="NRIC/Passport No.">
    </div>

       <div class="form-group">
      <label>Course Start Date (dd/mm/yyyy)</label>
      <input type="text" class="form-control" name="startdate" ngModel placeholder="dd/mm/yyyy">
    </div>

    <div class="form-group">
      <label>Course End Date (dd/mm/yyyy)</label>
      <input type="text" class="form-control" name="enddate" ngModel placeholder="dd/mm/yyyy">
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Submit</button>

  </form>


</div>


<div class="row custommargin">
<div class="col">
      

<strong>TX Hash</strong>

    </div>
<div class="col">
<div #dataContainer></div>
</div>
  </div>

<div class="row custommargin">
<div class="col">
      

<strong>TX Hash Url</strong>

    </div>
<div class="col">
<a href={{transactionlink}} target="_blank">{{transactionlink}}</a>
</div>
  </div>