<div class="container">
  <h2>Enter Student Data</h2>

  <form #studentForm = "ngForm" (ngSubmit)="onSubmit(studentForm.value)">
    <div class="form-group">
      <label>Student Name</label>
      <input type="text" class="form-control" name="name" ngModel>
    </div>

    <div class="form-group">
      <label>Course Name</label>
      <input type="text" class="form-control" name="coursename" ngModel>
    </div>
    <div class="form-group">
      <label>NRIC</label>
      <input type="text" class="form-control" name="nric" ngModel>
    </div>

       <div class="form-group">
      <label>Start Date</label>
      <input type="text" class="form-control" name="startdate" ngModel>
    </div>

    <div class="form-group">
      <label>End Date</label>
      <input type="text" class="form-control" name="enddate" ngModel>
    </div>


       

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

<div #dataContainer class="h2"></div>
<div #dataContainer2 class="h2"></div>
</div>